@import 'tailwindcss';

@theme {
	--color-primary: rgb(11, 0, 99);
	--color-secondary: rgb(55, 39, 247);
	--color-tertiary: rgb(6, 10, 39);
	--color-accent: rgb(93, 212, 97);

	--color-text-primary: rgb(255, 255, 255);
	--color-text-secondary: rgb(100, 100, 100);
	--color-text-tertiary: rgb(6, 10, 39);
	--color-text-accent: rgb(0, 0, 0);

	--color-background-primary: rgb(255, 255, 255);
	--color-background-secondary: rgb(240, 240, 240);
	--color-background-tertiary: rgb(240, 240, 240);
	--color-background-accent: rgb(255, 255, 255);
}
